#my-portrait {
    width: 300px;
    display: block;
    margin:auto;
    border:solid chocolate 30px
}

.minor-section{
    background-color: chocolate;
    margin-top: 5%;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

#links{
    background-color:chocolate;
    margin-top: 5%;
}

html{
background-color:cadetblue;
}