/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

#console {
  display:block;
  margin:auto;
  margin-top: 5%;
  width: 1100px;
}

#java {
  display:block;
  margin:auto;
  margin-top: 5%;
  width: 900px;
  }

#html {
  display:block;
  margin:auto;
  margin-top: 5%;
  width: 900px;
  }

#site {
  display:block;
  margin:auto;
  margin-top: 5%;
  width: 900px;
  }

#car {
  display:block;
  margin:auto;
  margin-top: 5%;
  width: 600px;
  }
