h1 {
    color: cadetblue;
    font-size: 200%;
}

p {
    font-family: 'Lucida Sans Unicode';
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    background-color:darkorange;
    width:500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: solid 1px
    font-size 20px;
}

html {
    background-color: black;
}